<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @style.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @style.content %>
</p>

<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
